<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularz studentow</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<h1>Dodaj studenta</h1>
</br>

<form method="post" action="/students/create">

    <input type="text" name="firstName" placeholder="Imię"/></br>
    <input type="text" name="lastName" placeholder="Nazwisko"/></br>

    <select id="lSelectId" name="language" onchange="populateTeachers(this.id, 'tSelectId')">
        <option value="" disabled selected>wybierz język</option>
        <option th:each="language : ${languages}" th:text="${language}" th:value="${language}"></option>
    </select>

    </br>
    <select id="tSelectId" name="teacherId">
        <option value="" disabled selected>Wybierz nauczyciela</option>
    </select>
    </br>
    </br>

    </br>
    <button type="submit">Dodaj lekcje</button>

</form>
</body>
</html>

<script type="text/javascript">

    function populateTeachers(languageSelectorId, teacherSelectorId) {
        let lSelect = document.getElementById(languageSelectorId);
        let tSelect = document.getElementById(teacherSelectorId);
        let link = "/teachers?language=" + lSelect.value;
        $.getJSON(link, function (data) {
            tSelect.innerHTML = '<option value="" disabled selected>Wybierz nauczyciela</option>';
            data.forEach(teacher => {
                let option = '<option value="' + teacher.id + '">' + teacher.firstName + ' ' + teacher.lastName + '</option>';
                tSelect.innerHTML += option;
            })
        });
    }

</script>
