<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Studenci</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<h1>Studenci</h1>
</br>

<p2><a href="/students/create">dodaj</a></p2>
</br>
</br>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td><button th:id="btn + ${studnet.id}" th:value="${student.id}" onclick="deleteStudent(this.id)">Usuń</button></td>

    </tr>
    </tbody>
</table>
</body>
</html>

<script type="text/javascript">

    function deleteStudent(btnId) {
        let btn = document.getElementById(btnId);
        let url = "/studnets?idToDelete=" + btn.value;
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function () {
                window.location.reload();
            },
            error:  function () {
                alert("wystąpił błąd podczas usuwania")
            }
        })
    }

</script>




