<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lekcje</title>
</head>
<body>
<h1>Lekcje</h1>
</br>

<p2><a href="/lessons/create">dodaj</a></p2>
</br>
</br>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Student</th>
        <th>Nauczyciel</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lesson : ${lessons}">
        <td th:text="${lesson.id}"></td>
        <td th:text="${lesson.student.firstName} + ' ' + ${lesson.student.lastName}"></td>
        <td th:text="${lesson.teacher.firstName} + ' ' + ${lesson.teacher.lastName}"></td>
        <td><button th:id="btn + ${lesson.id}" onclick="update(this.id)" >zmien</button></td>
    </tr>
    </tbody>
</table>
</body>
</html>

<script type="text/javascript">
    function  update(btnId) {
        let btn = document.getElementById(btnId);
        window.location.herf = "/lessons/update?lessonId=" + btn.value;
    }
</script>